

.presentation__wrapper{
      width: 100%;
      min-height: 100vh;
      min-width: 400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 40% ;
      justify-content: center;
      place-content: center;
      overflow-x: hidden;
}

.presentation-card-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      margin: 0 auto;
}